<section>
  <div
    class="mx-auto w-full max-w-2xl md:px-12 flex flex-col items-center pt-24 md:pt-36 text-center p-2"
  >
    <h1
      class="text-white text-3xl md:text-5xl lg:text-6xl font-extrabold max-w-3xl"
    >
      Hey, I'm <span class="bg-[#5865F2] px-4">Alper</span> I Develop Web Apps!
    </h1>
    <p class="text-[#DBDBDB] text-lg px-3 max-w-4xl pt-6 md:pt-12">
      Hi, I'm Alper Unal, I'm a Frontend Engineer with a passion for creating
      beautiful and user-friendly web apps. Explore my journey through code and
      design as I strive to make the digital world a more engaging and
      accessible place. Check my socials if you know more about me!
    </p>
  </div>
</section>
